<div class="outer_body">
    <div class="header_box">
        <div class=header_body>
            <a class="logo_name">
            iface-diary<span class="logo_dot">.</span>
            </a>
        </div>
    </div>
    <div class="page_body">
        <div class="outer_page_body_wrapper">
            <div class="login_box">
                <div class="login_box_wrapper">
                    <div class="outer_logo">
                        <div class="logo_box">
                            <i class="icon-bookmark"></i>
                        </div>
                    </div>
                    <div class="login_form_wrapper">
                        <div class="form_wrapper ">
                            <form name="form" id="login_form" novalidate>
                                
                                    <div class="form-group input_box">
                                        <input ng-change="ersaedErrorMessage()" type="text" class="form-control" placeholder="Username" name="user_name" ng-model="loginData.user_name" required=""/>

                                        <div class="required_field" ng-show="form.$submitted || form.user_name.$touched">
                                          <div ng-show="form.user_name.$error.required">Please provide your name.</div>
                                        </div>

                                    </div>
                                    <div class="form-group input_box">
                                        <input ng-change="ersaedErrorMessage()" type="password" class="form-control" placeholder="Password" name="user_password" ng-model="loginData.user_password" required="" />
                                        
                                        <div class="required_field" ng-show="form.$submitted || form.user_password.$touched">
                                          <div ng-show="form.user_password.$error.required">Please provide password.</div>
                                        </div>

                                    </div>
                                    <div class="form-group button_box">
                                        <button type="submit" class="btn" value="Login" ng-click="login(loginData)"> Login 
                                        <i class="icon-circle-right2 position-right"></i> </button>
                                        
                                    </div>
                                    <div class="error_msz">{{errorMessage}}</div>
                                
                            </form>
                        </div>
                        <div class="content-divider form-group">
                            <span>Need an account? <a ui-sref="registration" href="/registration">Sign up</a></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>