<div class="outer_body">
    <div class="header_box">
        <div class=header_body>
            <a class="logo_name">
            iface-diary<span class="logo_dot">.</span>
            </a>
        </div>
    </div>
    <div class="page_body">
        <div class="outer_page_body_wrapper outer_registartion">
            <div class="login_box">
                <div class="login_box_wrapper">
                    <div class="outer_logo">
                        <div class="logo_box">
                            <i class="icon-bookmark"></i>
                        </div>
                    </div>
                    <div class="login_form_wrapper">
                        <div class="form_wrapper ">
                            <form name="form" id="registration_form" novalidate>
                                
                                    <div class="form-group input_box">
                                        <input type="text" class="form-control" placeholder="Username" name="user_name" 
                                        ng-model="registrationData.user_name" required=""/>

                                        <div class="required_field" ng-show="form.$submitted || form.user_name.$touched">
                                          <div ng-show="form.user_name.$error.required">Please provide your name.</div>
                                        </div>
                                    </div>

                                    <div class="form-group input_box">
                                        <input type="password" class="form-control" placeholder="Password" name="user_password" 
                                        ng-model="registrationData.user_password" required=""/>

                                        <div class="required_field" ng-show="form.$submitted || form.user_password.$touched">
                                          <div ng-show="form.user_password.$error.required">Please provide password.</div>
                                        </div>
                                    </div>

                                    <div class="form-group input_box">
                                        <input type="email" class="form-control" placeholder="Email Id" name="user_email" 
                                        ng-model="registrationData.user_email"  required="" />

                                        <div class="required_field" ng-show="form.$submitted || form.user_email.$touched">
                                          <div ng-show="form.user_email.$error.required">Please provide Email Id.</div>
                                          <div ng-show="form.user_email.$error.email">This is not a valid email.</div>
                                        </div>
                                    </div>

                                    <div class="form-group input_box">
                                        <input type="text" class="form-control" placeholder="Phone" name="user_phone" 
                                        ng-model="registrationData.user_phone" min="0" max="10" integer  required=""/>

                                        <div class="required_field" ng-show="form.$submitted || form.user_phone.$touched">
                                          <div ng-show="form.user_phone.$error.required">Please provide Phone number.</div>
                                        </div>
                                    </div>

                                    <div class="form-group button_box">
                                        <button type="submit" class="btn" value="Login" ng-click="registration(registrationData)"> Get Started 
                                        <i class="icon-circle-right2 position-right"></i> </button>
                                        
                                    </div>
                                
                            </form>
                        </div>
                        <div class="content-divider form-group">
                            <span>Already have an account? <a ui-sref="login" href="/login">Sign in</a></span>
                        </div>
                    </div>
                </div>
                <div class="terms_box">
                    <small class="display-block center-text">Signing up indicates that you’ve read and agree to our 
                    <a ui-sref="/terms" href="/terms">terms</a> and 
                    <a ui-sref="/privacy" href="/privacy">privacy</a> policy.</small>
                </div>
            </div>
        </div>
    </div>
</div>